<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      #messages { margin-bottom: 40px }
    </style>
  </head>
  <body>
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        let notiRoomId = '<%= notiRoomId %>';  
        $(function () {
            //var socket = io();
            var socket = io.connect('ws://ec2-54-183-251-237.us-west-1.compute.amazonaws.com:3000');

            socket.on('connect', function() {
              socket.emit('authenticate', {
                token: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkcml2ZXJfaWQiOiIzIiwiY3J0IjoxNTMwMjQ2MjY2LCJleHAiOjE4NDU2MDYyNjZ9.3--DbJ6BOLA6PvkhRQzyssliXZo_I3R5-ZG9toBlZvk});
            });
            
            $('form').submit(function(){
            socket.emit(notiRoomId, $('#m').val());
            $('#m').val('');
            return false;
            });
            socket.on(notiRoomId, function(status){
            $('#messages').append($('<li>').text(status));
            window.scrollTo(0, document.body.scrollHeight);
            });
        });
    </script>
  </body>
</html>
